#App {  
  background: #51d6b7;  
}

#periodic-table {
  min-width: 950px;
  margin: 10px 10px;
}

#periodic-table .row {
  margin-top: 10px;
  margin-bottom: 10px;
}

#periodic-table .block{  
  display: inline-block;  
  width: 5.55%;
  min-width: 50px;
}

#periodic-table .blank{
  background: transparent;
}

#periodic-table .element{ 
  position: relative;   
  box-sizing: border-box;    
  margin: 4px 4px;
  background: white;
  color: black;  
}

.element .symbol {
  display: block;
  line-height: 90px;
  text-align: center;
  font-size: 2.5vw;
}

h1.title {
  font-size: 60px;
  text-align: center;
  margin-top: 0;
}