@keyframes spin {
  0% {
    transform: rotate3d(0, 0, 1, 0deg);
  }

  100% {
    transform: rotate3d(0, 0, 1, 360deg);
  }
}

@keyframes spin-cc {
  0% {
    transform: rotate3d(0, 0, 1, 360deg);
  }

  100% {
    transform: rotate3d(0, 0, 1, 0deg);
  }
}

html,
body,
#root,
#App {
  height: 100%;
}

.text-center {
  text-align: center;
}

#App {
  background: #4fb3bf;
  font-family: monospace, sans-serif;
}

.element-display-container {
  display: inline-block;
  width: 20%;
  background: #004a9f;
  height: 100%;
  overflow: auto;
}

.periodic-table-container {
  display: inline-block;
  background: #4fb3bf;
  height: 100%;
  width: 80%;
  overflow: auto;
}

#app-menu {
  background: #63a3fff0;
  color: #005662;
  box-shadow: inset 1px 1px 1px 0px #1976d2b0;

  .container {
    position: relative;
    padding: 0 15px;
  }

  .title {
    margin-bottom: 30px;
    text-align: center;
  }

  .menu-header {
    position: relative;
    min-height: 50px;
  }

  .menu-body {
    position: absolute;
    width: 300px;
    height: 500px;
    background: #dff6f9;
    top: -500px;
    transition: all 0.25s ease-in-out;

    &.hidden {
      left: -350px;
    }

    &.shown {
      left: 0px;
    }
  }

  .toggle-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    border: 1px solid #004a9f;
    border-radius: 5px;
    padding: 3px 10px;
    background: #dff6f9;
    cursor: pointer;

    &:hover {
      background: #1675d1;

      >div {
        background: white;
      }
    }

    &:active {
      background: #004a9f;
    }

    >div {
      margin: 6px 0;
      width: 30px;
      height: 3px;
      background: #005662;
    }
  }

  .menu-list {
    list-style-type: none;
    padding-left: 0;
    cursor: pointer;
    background: #00838f;
    color: #dff6f9;

    li {
      border-top: 1px solid #005662;
      padding: 15px 0;
      font-size: 18px;
      text-align: center;
      transition: background 0.25s linear;
      box-shadow: 1px 1px 2px 0px #dff7f9;

      &:hover {
        background: #005662;
      }

      &:active {
        background: #4fb3bf;
        color: #000000;
      }

      &:last-child {
        border-bottom: 1px solid #005662;
      }
    }

  }
}


#periodic-table {
  position: relative;
  max-width: 1200px;
  margin: 15px auto;

  .block {
    display: inline-block;
    width: 5.5%;
  }

  .element {
    position: relative;
    border-radius: 5px;
    margin: 4px;
    background: white;
    cursor: pointer;

    .symbol {
      display: block;
      line-height: 70px;
      text-align: center;
      font-size: 30px;
    }

    .name {
      display: block;
      text-align: center;
      font-size: 12px;
    }

    .number {
      position: absolute;
      top: 2px;
      left: 5px;
      display: inline;
      font-size: 0.75vw;
    }

    &:hover {
      background: gray;
    }

    &.active {
      background: #1675d1;
    }
  }
}

.page-title {
  position: fixed;
  width: 100%;
  font-size: 48px;
  text-align: center;
  margin: 0;
  padding: 5px 0;
  background: #1976d2;
  color: #e3f2fd;
  z-index: 1000;
}

#element-display {
  position: relative;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 10px;
  z-index: 999;
  color: #ffffff;

  .atom {
    position: relative;
    height: 300px;
    background: #5f6161;
    margin: 0 auto;
    transform-style: preserve-3d;

    >.shell {
      position: absolute;
      border: 1px solid rgba(0, 0, 0, 0.5);
      border-radius: 50%;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      margin: auto;
      transform-style: preserve-3d;
      animation-timing-function: linear;
      animation-iteration-count: infinite;

      >.electron {
        position: absolute;
        width: 6px;
        height: 6px;
        background: yellow;
        border-radius: 50%;
        left: 50%;
        top: 48.5%;
        margin-left: -3px;
        margin-right: -3px;
        transform-style: preserve-3d;
      }
    }
  }

  .atom-info {
    a {
      color: #dff6f9;
      font-size: 18px;
    }

    * {
      margin: 15px 0;
    }

    .summary {
      color: white;
      font-size: 18px;
    }
  }
}

#App {
  min-width: 768px;

  @media screen and (min-width: 768px) {
    zoom: 0.6;
  }

  @media screen and (min-width: 992px) {
    zoom: 0.7;
  }

  @media screen and (min-width: 1200px) {
    zoom: 1
  }
}