#App {  
  background: #51d6b7;  
}

#periodic-table {
  min-width: 950px;
  margin: 10px 10px;
}

#periodic-table .row {
  margin-top: 10px;
  margin-bottom: 10px;
}

#periodic-table .block{  
  display: inline-block;  
  width: 5.55%;
  min-width: 50px;
}

#periodic-table .blank{
  background: transparent;
}

#periodic-table .element{    
  box-sizing: border-box;  
  height: 100px;
  margin: 4px 4px;
  background: white;
  color: black;  
}

.element .symbol {
  position: relative;
  top: 10%;
  display: block;  
  text-align: center; 
  font-size: 3vw; 
}

h1.title {
  font-size: 60px;
  text-align: center;
  margin-top: 0;
}